/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/******************** HOME PAGE CODE ********************/

.navBar{
	width: 880px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}

nav{
	display:flex;
	width: 610px;
	justify-content: space-between;
}

nav a{
	text-decoration: none;
	color:grey;
}

.eyeCatcher{
	width:880px;
	display:flex;
	justify-content: flex-end;
}

.slogan{
	font-size: 90px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.button{
	border: 1.5px solid black;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	padding: 10px 55px;
	text-decoration: none;
	color: black;
}

.content{
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
	width:880px;
	margin-top:50px;
	margin-bottom: 50px;
}

.first{
	width:880px;
	display: flex;
	margin-top:50px;
	margin-bottom: 45px;
}

.featurescontent, .aboutcontent{
	width:50%;
}

.middle-img{
	width: 880px;
}

.second{
	width:880px;
	display: flex;
	justify-content: space-between;
	margin-top:30px;
	margin-bottom: 50px;
}

.servicescontent, .productcontent, .visioncontent{
	width:32%;
}

address{
	display: flex;
	flex-direction: column;
}

.number, .email{
	margin-top:15px;
}

.copyright{
	margin-top: 50px;
	margin-left:370px;
}

body{	
	margin-left:20%;
}

/******************** SERVICES PAGE CODE ********************/

/* Webpage Sizing
	.box{
		position:relative;
		border: 5px solid red;
		height:210px;
		width:880px;
		bottom:212px;
}*/
h4{
	font-size: 25px;
}

h2{
	font-size: 18px;
}

.allContent{
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
	width:880px;
	height: 850px;
	padding-top:35px;
	margin:35px 0px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contentS{
	border: 1.5px solid black;
	height:240px;
	width:430px;
	padding:25px;
	background-color: whitesmoke;
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	justify-content: space-around;
}

.contentS p{
	margin-bottom: 15px;
}

.buttonS{
	font-size:12px;
	text-decoration: none;
	color:black;
	border: 1px solid black;
	background-color: white;
	width: 140px;
	height: 35px;
	padding:10px;
	border-radius: 6px;
	text-align: center;
}

.introS{
	/* border: 3px solid red; */
	width: 880px;
	margin-top: 35px;
}

.endingS{
	width:400px;
}

.bottom{
	width: 880px;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-between;
}

.factS{
	margin-top: 25px;
}

.pageS{
	/* border: 3px solid red; */
	position: relative;
	bottom: 30px;
}

ul{
	list-style-type: square;
	list-style-position: inside;
}

ul li{
	margin-top: 8px;
	margin-bottom: 15px;
}

/******************** MEDIA RESPONSIVE CODE ********************/

/********** TABLET **********/
@media(max-width: 800px){
    body{
        /* background:blue; */
        margin: 0 auto;
        width: 100%;
    }
    .navBar{
        height: 13vh;
        margin-bottom: 50px;
        text-align: center;
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    nav{
        display:flex;
        width: 100%;
        justify-content: space-around;
    }
    
    .circleimg{
        display: none;
    }
    .eyeCatcher{
        /* border: 2px solid red; */
        display:flex;
        justify-content: center;
    }
    .slogan{
        font-size: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button{
        border: 1.5px solid black;
        font-family: 'Titillium Web', sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: black;
        text-align: center;
        width: 57%;
    }
    .content{
        margin: 0 auto;
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
        width:93%;
        margin-top:50px;
        margin-bottom: 50px;
    }
    .details{
        /* border: 2px solid red; */
        margin: 0 auto;
        width: 93%;
    }
    .copyright{
        /* border:2px solid blue; */
        text-align: center;
        margin:0 auto;
        margin-top: 45px;
    }
}

/********** MOBILE **********/
@media(max-width: 500px){
    h2{
        font-size: 15px;
    }
    .navBar{
        /* border: 2px solid red; */
        height: 60%;
        margin-bottom: 50px;
        text-align: center;
        display:flex;
        flex-direction: column-reverse;
    }
    nav{
        /* border: 2px solid blue; */
        display:flex;
        flex-direction: column;
    }
    nav a{
        border-bottom: 1px solid grey;
        padding: 5% 0;
    }
    #serv{
        border-top:1px solid grey;
    }
    .slogan{
        font-size: 55px;
    }
    .button{
        border: 1px solid black;
        text-align: center;
        font-size: 13px;
        padding: 5px;
        text-decoration: none;
        color: black;
    }
    .content{
        /* border: 2px solid blue; */
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
        width:93%;
        margin-bottom: 30px;
    }
    .first{
        /* border: 2px solid yellow; */
        height: 30%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top:40px;
        margin-bottom: 35px;
    }
    .featurescontent, .aboutcontent, .servicescontent, .productcontent, .visioncontent{
        width:100%;
    }
    .second{
        /* border: 2px solid green; */
        font-size: 12px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top:20px;
        margin-bottom: 30px;
    }
    address, .copyright{
        font-size:12px;
    }
    .copyright{
        margin-top:30px;
    }
}